<html>
<head></head>
<body>
<p>Hi,I am <strong>Shahazada Talib</strong> from Jalpaiguri Government Engineering College.I am really happy after completed my first Deep Learning Project and i feel  that i am one of the lucky person who is in this Boot Camp.</p></br>
<p>Thanks to whole Team of Dphi,<b>Thanks a lot Dphi</b></p>
</body>
</html>

In [ ]:
import pandas as pd #for data manipulation and analysis
import numpy as np  #for working with array,matrices
import matplotlib.pyplot as plt #for visualzation pupose 
import seaborn as sns # for visualzation pupose
import tensorflow as tf #for fast numerical computing
%matplotlib inline #stet the backend of matplotlib to the 'inline'

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
bank_note_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_note_data/training_set_label.csv" )#read the data set and assign it to the variable
bank_note_data.head() #by defaul it show 5 rows of data otherwise n

     VWTI     SWTI     CWTI        EI  Class
0  2.2634  -4.4862   3.6558 -0.612510      0
1  3.2718   1.7837   2.1161  0.613340      0
2 -3.9411 -12.8792  13.0597 -3.312500      1
3  0.5195  -3.2633   3.0895 -0.984900      0
4  2.5698  -4.4076   5.9856  0.078002      0

In [ ]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/bank_note_data/testing_set_label.csv')
test_data.head()

      VWTI      SWTI      CWTI       EI
0 -0.40804   0.54214  -0.52725  0.65860
1 -3.71810  -8.50890  12.36300 -0.95518
2  5.50400  10.36710  -4.41300 -4.02110
3  1.68490   8.74890  -1.26410 -1.38580
4  4.74320   2.10860   0.13680  1.65430

In [ ]:
bank_note_data.info()#it give information about data set like number of columns,rows and count of element and number of non-null value and data type of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VWTI    1096 non-null   float64
 1   SWTI    1096 non-null   float64
 2   CWTI    1096 non-null   float64
 3   EI      1096 non-null   float64
 4   Class   1096 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 42.9 KB

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   VWTI    275 non-null    float64
 1   SWTI    275 non-null    float64
 2   CWTI    275 non-null    float64
 3   EI      275 non-null    float64
dtypes: float64(4)
memory usage: 8.7 KB

In [ ]:
#Here we divide the feature/input data and label data
X=bank_note_data.drop('Class',axis=1) #assign feature/input data to X and through using drop function and axis=1 denote the column wise drop
y=bank_note_data.Class #Here assign label data coulmn(Class) is assign to  y

In [ ]:
#import train_test_split from sklearn.model_selection
from sklearn.model_selection import train_test_split #for spliting data into training and testing set
#test_size is the size of test set
#random_state,it change on each run that why we fix it by assigning it a value
#actualy it tell about the distribution of data from X and y 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42) #it will give 4 different out put thats why we use 4 different variable

In [ ]:
X.shape #give idea of dimension and number of rows and columns

(1096, 4)

In [ ]:
from tensorflow.keras import Sequential #for exactly one input tensor and one output tensor 
from tensorflow.keras.layers import Dense #for connecting layer

In [ ]:
model=Sequential([
       Dense(2,input_shape=(4,),activation='sigmoid')           
])#built a sequential model with 1 layer

In [ ]:
model.summary() #it tell name and type of layer,ouput shape for each layer and number of weight parameters of each layer and trainable and non-trainable parameter of the model

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 2)                 10
=================================================================
Total params: 10
Trainable params: 10
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
model.fit(X_train,y_train,epochs=5) #it train the data for given number of epochs

Epoch 1/5
28/28 [==============================] - 0s 1ms/step - loss: 0.9900 - accuracy: 0.7340
Epoch 2/5
28/28 [==============================] - 0s 1ms/step - loss: 0.9084 - accuracy: 0.7660
Epoch 3/5
28/28 [==============================] - 0s 1ms/step - loss: 0.8279 - accuracy: 0.7911
Epoch 4/5
28/28 [==============================] - 0s 1ms/step - loss: 0.7498 - accuracy: 0.8105
Epoch 5/5
28/28 [==============================] - 0s 1ms/step - loss: 0.6738 - accuracy: 0.8253

In [ ]:
model.evaluate(X_test,y_test) #predict output for given input and then compute metrics function specifed in the model

7/7 [==============================] - 0s 2ms/step - loss: 0.5346 - accuracy: 0.8455

[0.5345859527587891, 0.8454545736312866]

In [ ]:
y_pred=model.predict(X_test)#predict the output given data
#argmax find the the class with max probability
np.array([np.argmax(x) for x in y_pred]) #convert ouput by argmax to array

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [ ]:
model=Sequential([
                  Dense(3,input_shape=(4,),activation='relu'),
                  Dense(3,input_shape=(3,),activation='relu'),
                  Dense(2,activation='sigmoid')
])#Here we set 3 layer to the model with different activation function 
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 3)                 15
_________________________________________________________________
dense_3 (Dense)              (None, 3)                 12
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 8
=================================================================
Total params: 35
Trainable params: 35
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])
model.fit(X_train,y_train,batch_size=20,epochs=15)

Epoch 1/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0658 - accuracy: 0.9989
Epoch 2/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0577 - accuracy: 1.0000
Epoch 3/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0511 - accuracy: 1.0000
Epoch 4/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0457 - accuracy: 1.0000
Epoch 5/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0409 - accuracy: 1.0000
Epoch 6/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0370 - accuracy: 1.0000
Epoch 7/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0336 - accuracy: 1.0000
Epoch 8/15
44/44 [==============================] - 0s 963us/step - loss: 0.0302 - accuracy: 1.0000
Epoch 9/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0277 - accuracy: 1.0000
Epoch 10/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0253 - accuracy: 1.0000
Epoch 11/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0231 - accuracy: 1.0000
Epoch 12/15
44/44 [==============================] - 0s 978us/step - loss: 0.0214 - accuracy: 1.0000
Epoch 13/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0196 - accuracy: 1.0000
Epoch 14/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0181 - accuracy: 1.0000
Epoch 15/15
44/44 [==============================] - 0s 1ms/step - loss: 0.0166 - accuracy: 1.0000

In [ ]:
model.evaluate(X_test,y_test)

7/7 [==============================] - 0s 2ms/step - loss: 0.0132 - accuracy: 1.0000

[0.013202562928199768, 1.0]

In [ ]:
pred=model.predict(test_data) #save predciton to pred variable
prediction=np.array([np.argmax(x) for x in pred]) #convert to class and then into array
res=pd.DataFrame(prediction) #covert to DataFrame
res.index=test_data.index
res.columns=['Class']#make a column and name them to Class

In [ ]:
from google.colab import files #for uploading and downloading purpose from google colab 
res.to_csv('pred_class.csv') #convert column data to csv files
files.download('pred_class.csv') # for download the  files and we use upload for uploading files